<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Common Rolling Policy for all appenders -->
    <property name="LOG_PATH" value="logs"/>
    <property name="LOG_FILE" value="application"/>

    <appender name="COMMON-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/archived/${LOG_FILE}.%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <!-- each archived file, size max 1MB -->
            <maxFileSize>1MB</maxFileSize>
            <!-- total size of all archive files, if total size > 5MB,
                it will delete old archived file -->
            <totalSizeCap>5MB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Info Appender -->
    <appender name="INFO-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE}-info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/archived/${LOG_FILE}-info.%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <maxFileSize>1MB</maxFileSize>
            <totalSizeCap>5MB</totalSizeCap>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CUSTOMER-SERVICE-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE}-customer-info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/archived/${LOG_FILE}-customer-info.%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <maxFileSize>1MB</maxFileSize>
            <totalSizeCap>5MB</totalSizeCap>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="MOORING-SERVICE-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE}-mooring-info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/archived/${LOG_FILE}-mooring-info.%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <maxFileSize>1MB</maxFileSize>
            <totalSizeCap>5MB</totalSizeCap>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Debug Appender -->
    <appender name="DEBUG-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE}-debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/archived/${LOG_FILE}-debug.%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <maxFileSize>1MB</maxFileSize>
            <totalSizeCap>5MB</totalSizeCap>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Error Appender -->
    <appender name="ERROR-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE}-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/archived/${LOG_FILE}-error.%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <maxFileSize>1MB</maxFileSize>
            <totalSizeCap>5MB</totalSizeCap>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    Root Logger Configuration
    <root level="INFO">
        <appender-ref ref="COMMON-ROLLING"/>
        <appender-ref ref="INFO-FILE"/>
        <appender-ref ref="DEBUG-FILE"/>
        <appender-ref ref="ERROR-FILE"/>
    </root>

    <logger name="com.marinamooringmanagement.service.impl.CustomerServiceImpl" level="info" additivity="false">
        <appender-ref ref="CUSTOMER-SERVICE-FILE"/>
    </logger>

    <logger name="com.marinamooringmanagement.service.impl.MooringServiceImpl" level="info" additivity="false">
        <appender-ref ref="MOORING-SERVICE-FILE"/>
    </logger>


</configuration>
